
#gcChatMenu > div.clickAble {
    transform: skewX(-35.5deg);
	width: 33.33333%;
}

#gcChatMenu.queueEnabled > div.clickAble {
	width: 25%;
}

#gcChatMenu > div.clickAble:first-child {
    margin-left: -13px;
    width: calc(33.33333% + 13px);
}

#gcChatMenu.queueEnabled > div.clickAble:first-child {
    margin-left: -13px;
    width: calc(25% + 13px);
}

#gcHistoryContainer > .gcCorrectAnswer:nth-child(2n) {
	background-color: #112211;
}

#gcHistoryContainer > .gcCorrectAnswer:nth-child(2n + 1) {
	background-color: #114408;
}

#gcHistoryContainer > .gcIncorrectAnswer:nth-child(2n + 1) {
	background-color: #440000;
}

#gcHistoryContainer > .gcIncorrectAnswer:nth-child(2n) {
	background-color: #2a0000;
}


#AutoReadyCheck {
	margin-left: 10px;
}

#customSettingsP {
	display: inline-block;
    font-size: 20px;
    margin-top: 8px;
    margin-left: 15px;
}

#customSettings {
	position: absolute;
	display: inline-block;
	right: 204px;
	width: 170px;
	bottom: 0px;
	height: 45px;
}

#gcHistoryContainer > li {
	font-size: 15px;
    line-height: 1.2em;
	padding: 5px 17px 5px 7px;
	word-wrap: break-word;
}

#gcHistoryContent {
	height: 100%
}

.gcList .tabulator {
	border: 1px solid #3b3b3b;
	background-color: #1b1b1b;
}

.gcList .tabulator .tabulator-header {
	border-bottom: 1px solid #3b3b3b;
	background-color: #1b1b1b;
	color: #e6e6e6;
}

.gcList .tabulator .tabulator-header .tabulator-col {
	border-right: 1px solid #3b3b3b;
	background:  #1b1b1b;
}

.gcList .tabulator-row .tabulator-cell {
	border-right: 1px solid  #666;
}

#aaHistoryFloater {
	position: absolute;
	margin-top: -30px;
	width: 70%;
	left: -72%;
	top: 0%;
}

#aaHistoryFloater h3{
	position:relative;	
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 0px;
	font-size: 20px;
}

#aaHistoryFloatAnimeName{
	position:relative;	
	margin-left:10px;
	height:40px;
	width:90%;
	text-align: left;	
	overflow: hidden;
	text-overflow: ellipsis;
}

#aaHistoryFloatSongName{
	position:relative;	
	margin-left:10px;
	height:40px;
	width:90%;
	text-align: left;	
	overflow: hidden;
	text-overflow: ellipsis;
}

#aaHistoryFloatContainer li{
	margin-left: 20px;
	width: 92%;
	font-size: 15px;
}

#aaHistoryFloatContainer li div{
	display: inline-block;
	width:30%;
	text-align: left;	
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
}

#aaHistoryFloatContainer li .historyanswer {
	left: 30%;
	text-align: right;	
	padding-left: 10px;
	width: 70%;
}
.CorrectAnswer .historyanswer {
	text-shadow: 0px 0px 5px #B6FF00;
}

.IncorrectAnswer .historyanswer {
	text-shadow: 0 0 5px #fb1212;
}

.English {
	text-shadow: 0 0 5px #aCE1E9;
}

.Japanese {
	text-shadow: 0 0 5px #8ab1f6;
}

#optionsContainer.popOut {
	transition: transform 0.2s ease-in-out;
}

#aaHistoryFloatContainer li div.InMal {	
	position: absolute;
	left: 10px;
	width: 8px;
	transform: translateY(7px);
	height: 8px;
	background-color: #8ab1f6;
	opacity: 0.8;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.89);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.89);
}

div.diagonalheader {
	transform: skewX(35.5deg);
	/* width: auto; */
	margin-left:-20px;
	padding-left:20px;
	/* overflow:hidden; */
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.89);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.89);
}

div.diagonalheader > * {
	transform: skewX(-35.5deg);

}

#aaAnimeNameHeader {
	background-color: #1b1b1b;
	margin-left:-20px;
	padding-left:20px;
	width: 20ch;
}

#aaSongHeader {
	background-color: #1b1b1b;
	margin-left:-20px;
	padding-left:20px;
	width: 20ch;
}

#aaGuessesHeader {
	background-color: #1b1b1b;
	margin-left:-20px;
	padding-left:20px;
	width: 20ch;
}

#aaHistoryFloater {
	overflow:hidden;
}

